{% extends 'hp_login/index.html' %}
{% load static %}

{% block content %}
<div class="container">
    <h1>Ayo list nilai kamu</h1>
    <form class="input_teks" action="" method="POST">
        {% csrf_token %}
        <label for="p_latihan">Kategori nilai :</label> {{input_form.nama_nilai}}
        <br>
        <label for="p_uts">Nilai :</label> {{input_form.isian_nilai}}
        <br>
        <input type="submit" name="Masukkan" class="btn btn-primary button-submit" value="Simpan">
        <h5>Jika kamu sudah memiliki list nilai sebelumnya, 
            <a href="/nilai/daftar_nilai" id="daftar_nilai">
                <button type="button" class="btn btn-link"> klik disini</button>
            </a>
        </h5>
    </form>
</div>
{% endblock %}