body,
html {
    margin-bottom: 0;
    padding: 0;
    height: 100%;
    /* background-color: black !important; */
    /* background-image: url("bg-reg.svg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: right bottom; */
}
.container{
    padding-bottom: 20px;
}
.container .index{
    background-image: url("homepage-person.svg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: right bottom;
}
.col-lg{
    position: absolute;
    top:250px;
    min-width: 100px !important;
}
.register{
    background-color: #E76B65 !important;
    background-image: url("bg-reg.svg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: right bottom;
}
.register-box{
    width: 350px;
    margin-top: auto;
    margin-bottom: auto;
    background: #FFDD63;
    position: absolute;
    right: 0px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    padding-bottom: 30px;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.form-container {
    margin-top: 10px;
    
}
.input-box{
    width: 280px;
    margin:8px;
    border-radius:8px;
    border:none;
    padding:5px;
    
}

.form-title{
    margin-top: 10px;
    color: black;
    text-align: center;
}
.logo-reg-login{
    max-width: 600px;
    padding-top: 50px;
    position: absolute;
    left: -30px;
}
.alert-warning{
    position: absolute !important;
    z-index: 100 !important;
    min-width: 350px;
    width:30%;
    height:50px;
    right: 50%;
    transform: translate(50%,0);
    margin-top:40px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
}

.alert-utk-login{
    top:85px;
    width: 97%;
    text-align:left;
}
.logo-small{
    display:none;
}
.navbar-nav{
    position: absolute;
    right:20px;
}
.table{
    margin-top:70px;
}
.navbar-brand {
    margin-top: 5px;
}

.col-header{
    margin-top: 30px;
    margin-bottom:50px;

}
#keyword{
    /* margin-top:50px;
    position:absolute;
    right: 30px; */
    border: 2px solid black;
    padding :5px;
    border-radius: 5px;
}
.row-nothing{
    padding-top: 100px;
    position: absolute;
    right: 50%;
    transform: translate(50%,0);
}
.row-btn{
    padding-top:20px;
}
/* .back-btn, .row-btn a{
    position: absolute;
    right: 15px;
} */
.back-back{
    color: white !important;
}
.back-back:hover{
    color: white !important;
    text-decoration: none !important;
}

.menu-navbar a{
    color: white !important;
}

@media (max-width: 1000px) {
    .logo-small{
        display:block;
        max-width: 300px;
        position: absolute;
        /* position: absolute;
        right: 50%;
        transform: translate(50%,0); */
    }
    .logo-reg-login{
        display: none;
        
    }
  }

  .col-header{
    margin-top: 30px;
    margin-bottom:50px;

}
  
  @media (max-width: 770px) {
    .col-lg{
        min-width: 200px;
    }
    .logo-small{
        display:block;
        max-width: 300px;
        position: absolute;
        right: 50%;
        transform: translate(50%,0);
        top:-220px;
    }
    .logo-reg-login{
        display: none;
        
    }
    .register-box{
        right: 50%;
        transform: translate(50%,0%);
        top:100px;
    }
  }