{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title>To Do List</title>
    <link href='https://fonts.googleapis.com/css?family=ABeeZee' rel='stylesheet'>
    <link href="{% static 'todo/style.css' %}" rel="stylesheet"  type="text/css" media="screen">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" 
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" 
    crossorigin="anonymous">
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="menu-navbar">
            <a class="nav-link menu" href="{% url 'hp_login:index' %}"><span style="color: white;">Home </span><span class="sr-only">(current)</span></a>
            <a class="nav-link menu" href="{% url 'schedule:index' %}"><span style="color: white;">Jadwal</span><span class="sr-only">(current)</span></a>
            <a class="nav-link menu" href="#"><span style="color: white;">Nilai </span><span class="sr-only">(current)</span></a>
            <a class="nav-link menu" href="{% url 'todo:index' %}"><span style="color: white;">To-do list</span> <span class="sr-only">(current)</span></a>
            <a class="nav-link menu" href="#"><span style="color: white;">Notes </span><span class="sr-only">(current)</span></a>
        </div>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                {% if user.is_authenticated%}
                    <li class="nav-item">
                        <span class="navbar-brand mb-0 h1">halo, {{user.username}}!</span>
                    </li>
                {% endif %}
                <li class="nav-item">
                    
                        {% if user.is_authenticated%}
                        <li>
                            <a class="nav-link" href="{% url 'hp_login:logout'%}">
                                <button class="btn btn-warning back-btn" type="submit">Log out</button>
                            </a>
                        </li>
                        {% else %}
                        <li>
                            <a class="nav-link" href="{% url 'hp_login:login'%}">
                                <button class="btn btn-warning back-btn" type="submit">Log in</button>
                            </a>
                        </li>
                        {% endif %}
                        <form class="form-inline">
                        
                    </form>
                </li>
            </ul> 
        </div>
    </nav>
    {% block content %}
    {% endblock %}

</body>
<script type="text/javascript" src="{% static 'todo/script.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

</html>
