{% extends 'todo/base.html' %}
{% load static %}

{% block content %}
<body>
    
    <div class="container">
       <div class="row">
           <div class="col-sm-3">

            <h1>To-Do List</h1>
           </div>
           <div class="col">
            <button id="showFormButton" type="button" class="btn btn-success tambah-btn"><i class='fa fa-plus' style='font-size:18px'></i></button>
           
        </div>
       </div>
        
        <div class="row">
           <form action='' method="post" id="createTaskForm">
                {% csrf_token %}
                {{ formtambah.as_p }}
                
                    <a href ="{% url 'todo:tambah' %}"><button id="createButton" type="button" class="btn btn-success tambah-btn">tambah</button></a>
                
            </form>    
        </div>
        <div class="row">
            {% if activity %}
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                Kegiatan
                            </th>
                            <th>
                                Deskripsi
                            </th>
                            <th>
                                
                            </th>
                        </tr>
                    </thead>
                    <tbody id="taskList">
                        {% for activities in activity %}
                        <tr id="lineData">
                            <td>
                                {{activities.activity}}
                            </td>
                                <td>
                                {{activities.description}}
                            </td>
                            <td>
                                <a href="{% url 'todo:delete' activities.pk %}"><button class="btn btn-success hapus-btn" type="submit"><i class='fa fa-trash' style='font-size:18px'></i></button></a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>  
            {% else %}
                <h3>Tambahkan Todo list mu!</h3>
            {% endif %}
        </div>
    </div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
{% endblock %}
</html>
