{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <title>StudFriend.</title>
        <link rel="stylesheet" href="{% static 'hp_login/style.css' %}" type="text/css" media="screen">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" 
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" 
        crossorigin="anonymous">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="utf-8">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="menu-navbar">
                <a class="nav-link menu" href="{% url 'hp_login:index' %}"><span style="color: white;">Home </span><span class="sr-only">(current)</span></a>
                {% if user.is_authenticated%}
                    <a class="nav-link menu" href="{% url 'schedule:index' %}"><span style="color: white;">Jadwal</span><span class="sr-only">(current)</span></a>
                    <a class="nav-link menu" href="#"><span style="color: white;">Nilai </span><span class="sr-only">(current)</span></a>
                    <a class="nav-link menu" href="{% url 'todo:index' %}"><span style="color: white;">To-do list</span> <span class="sr-only">(current)</span></a>
                    <a class="nav-link menu" href="#"><span style="color: white;">Notes </span><span class="sr-only">(current)</span></a>
                {% endif %}
            </div>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    {% if user.is_authenticated%}
                        <li class="nav-item">
                            <span class="navbar-brand mb-0 h1">halo, {{user.username}}!</span>
                        </li>
                    {% endif %}
                    <li class="nav-item">
                        
                            {% if user.is_authenticated%}
                            <li>
                                <a class="nav-link" href="{% url 'hp_login:logout'%}">
                                    <button class="btn btn-warning back-btn" type="submit">Log out</button>
                                </a>
                            </li>
                            {% else %}
                            <li>
                                <a class="nav-link" href="{% url 'hp_login:login'%}">
                                    <button class="btn btn-warning back-btn" type="submit">Log in</button>
                                </a>
                            </li>
                            {% endif %}
                            <form class="form-inline">
                            
                        </form>
                    </li>
                </ul> 
            </div>
        </nav>
    
        <div class="container index">
          
        </div>
    </body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</html>