<!DOCTYPE html>
<html>
    
<head>
    <title>StudFriend.|Registration</title>
    <link rel="stylesheet" href="../../static/hp_login/style.css" type="text/css" media="screen">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
</head>
<body class="register">
	<div class="container h-100">
        <div class="row">
            <div class="col-lg">
            </div>
            <div class="col-lg">
                <div class="register-box">
                    <div class="d-flex justify-content-center form-container">
                        <form method="POST" action="">
                            {% csrf_token %}
                            {{form.as_p}}
                            </div>
                            <a class="d-flex justify-content-center link-to-other" href="{% url 'hp_login:loginPage' %}">already have an account? log in</a>
                            <div class="d-flex justify-content-center mt-4">
                                <input class="btn btn-dark" type="submit" value="register">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
	</div>
</body>
</html>