{% load static %}
<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>Jadwal Form</title>
    <style>
        table, th, td {
          border: 1px solid black;
        }
        
        table {
          width: 100%;
        }
        </style>
</head>

<body class="bg-light">
    <div class="container pt-4">
        <form method="POST" id="form">
            <h1>Jadwal</h1>
            {% csrf_token %}
            {{ form.as_p }}
          
            <button type="submit" id="bu" class="btn btn-primary">Submit</button>
        </form>
        
    </form>
        </form>
    </div>
    <script
            src="https://code.jquery.com/jquery-3.5.0.min.js"
            integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ="
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>


    <script>
    const form = document.getElementById('form');
    form.addEventListener("submit", submitHandler);

    function submitHandler(e) {
        e.preventDefault();
        $.ajax({
            type        : 'POST', // mendefinisika tipe http yg kita mau (POST to our form)
            url         : "{% url 'schedule:index' %}", // url yg kita mau POST
            data        : $('#form').serialize(), // our form data
            dataType    : 'json', // tipe data yg kita inginkan kembali dr server
            success     : successFunction
        });
    }

    function successFunction(msg) {
        if (msg.message === 'success') {
            alert('Success!');
            form.reset()
        }
    }

    $("form").submit(function () {
      
      alert('Form submitted!');
   
    });	

    $('#bu').hover(function () {
            $(this).css('background-color','green');         
        },
        function () {
            $(this).css('background-color','blue');
        });

    $('#form').mouseenter(function (data) {
        $(this).css('background-color','white');
    });

    $('#form').mouseleave(function (data) {
        $(this).css('background-color','grey');
    });

    
   
</script>

<br>
<br>

<table id="customer">
    <tr>
        <th>Jadwal</th>
    </tr>
    {% for i in data %}
        <tr>
            <td>
                <b>Nama matkul:</b>
                <p>{{ i.title }}</p>
                <b>Deskripsi:</b>
                <p>{{ i.description }}</p>
                </a>
            </td>
        </tr>
    {% endfor %}
</table>

    </body>
    </html>

